Plugins>Carpet Tools,"carpet ICCS jru v1",carpet_ICCS_jru_v1
Plugins>Carpet Tools,"carpet ICCS pearson jru v1",carpet_ICCS_pearson_jru_v1
Plugins>Carpet Tools,"carpet ICS jru v1",carpet_ICS_jru_v1
Plugins>Carpet Tools,"carpet stics jru v1",carpet_stics_jru_v1
Plugins>Carpet Tools,"fit carpet stics jru v1",fit_carpet_stics_jru_v1
Plugins>Carpet Tools,"get line traj jru v1",get_line_traj_jru_v1
Plugins>Detrend Tools,"carpet sub avg jru v1",carpet_sub_avg_jru_v1
Plugins>File Tools, "batch LOCI converter jru v1", batch_LOCI_converter_jru_v1
Plugins>File Tools, "DV file reader jru v1", DV_file_reader_jru_v1
Plugins>File Tools, "LOCI file reader jru v1", LOCI_file_reader_jru_v1
Plugins>File Tools,"generate jru luts jru v1",generate_jru_luts_jru_v1
Plugins>File Tools,"HEFT shortcut window jru v1",HEFT_shortcut_window_jru_v1
Plugins>File Tools,"import KISS jru v1",import_KISS_jru_v1
Plugins>File Tools,"register jay readers jru v1",register_jay_readers_jru_v1
Plugins>ICS Tools,"complex amp jru v1",complex_amp_jru_v1
Plugins>ICS Tools,"complex phase jru v1",complex_phase_jru_v1
Plugins>ICS Tools,"fit ICS jru v1",fit_ICS_jru_v1
Plugins>ICS Tools,"fft3D jru v1",fft3D_jru_v1
Plugins>ICS Tools,"fft2D jru v1",fft2D_jru_v1
Plugins>ICS Tools,"stack FFT STICS jru v1",stack_FFT_STICS_jru_v1
Plugins>ICS Tools,"stack temporal FFT jru v1",stack_temporal_FFT_jru_v1
Plugins>ICS Tools,"stack FFT TICS jru v1", stack_FFT_TICS_jru_v1
Plugins>ICS Tools,"stack FFT TICCS jru v1", stack_FFT_TICCS_jru_v1
Plugins>ICS Tools,"STICS map jru v3",STICS_map_jru_v3
Plugins>ICS Tools,"traj pearson spatial cc jru v1",traj_pearson_spatial_cc_jru_v1
Plugins>Image Tools,"combine stacks jru v1",combine_stacks_jru_v1
Plugins>Image Tools,"difference movie jru v1",difference_movie_jru_v1
Plugins>Image Tools,"dynamic hs profile jru v1",dynamic_hs_profile_jru_v1
Plugins>Image Tools,"FRET heat map jru v2",FRET_heat_map_jru_v2
Plugins>Image Tools,"fit 3D multi gaussian jru v1",fit_3D_multi_gaussian_jru_v1
Plugins>Image Tools,"image hist2D jru v1",image_hist2D_jru_v1
Plugins>Image Tools,"interactive 3D viewer jru v1",interactive_3D_viewer_jru_v1
Plugins>Image Tools,"set lut colors jru v1",set_lut_colors_jru_v1
Plugins>Image Tools,"StackRegJ_",StackRegJ_
Plugins>Image Tools,"KISS unmixing jru v1",KISS_unmixing_jru_v1
Plugins>Image Tools,"Time Stamper jru v1",Time_Stamper_jru_v1
Plugins>PALM Tools,"filtered BALM3D jru v1",filtered_BALM3D_jru_v1
Plugins>PALM Tools,"palm display jru v1",palm_display_jru_v1
Plugins>PALM Tools,"palm fit3 jru v1",palm_fit3_jru_v1
Plugins>Segmentation Tools,"batch object measure jru v2",batch_object_measure_jru_v2
Plugins>Segmentation Tools,"cell quadrant profile jru v1",cell_quadrant_profile_jru_v1
Plugins>Segmentation Tools,"hist 2 overlay jru v1",hist_2_overlay_jru_v1
Plugins>Segmentation Tools,"man track jru v1",man_track_jru_v1
Plugins>Segmentation Tools,"plate analysis jru v1",plate_analysis_jru_v1
Plugins>Segmentation Tools,"quadrant profile jru v1",quadrant_profile_jru_v1
Plugins>Segmentation Tools,"spb partition analysis jru v2",spb_partition_analysis_jru_v2
Plugins>Segmentation Tools,"thick 3D polyline profile jru v1",thick_3D_polyline_profile_jru_v1
Plugins>Segmentation Tools,"KISS analysis jru v1",KISS_analysis_jru_v1
Plugins>Segmentation Tools,"track max not mask jru v1",track_max_not_mask_jru_v1
Plugins>Segmentation Tools,"track objects jru v2",track_objects_jru_v2
Plugins>Sim Tools,"frap sim jru v1",frap_sim_jru_v1
Plugins>Sim Tools,"sim exo endo jru v2",sim_exo_endo_jru_v2
Plugins>Sim Tools,"sim FLIM jru v1",sim_FLIM_jru_v1
Plugins>Sim Tools,"simfluc point jru v2",simfluc_point_jru_v2
Plugins>Table Tools,"cell hist stack jru v1",cell_hist_stack_jru_v1
Plugins>Table Tools,"col to uppercase jru v1",col_to_uppercase_jru_v1
Plugins>Table Tools,"filter table jru v1",filter_table_jru_v1
Plugins>Table Tools,"filtered cell stats jru v1",filtered_cell_stats_jru_v1
Plugins>Table Tools,"filtered cell stats jru v2",filtered_cell_stats_jru_v2
Plugins>Table Tools,"parse col string jru v1",parse_col_string_jru_v1
Plugins>Table Tools,"search table jru v2",search_table_jru_v1
Plugins>Table Tools,"table2image jru v1",table2image_jru_v1
Plugins>Table Tools ,"batch import table jru v1",batch_import_table_jru_v1
Plugins>Table Tools ,"import table jru v1",import_table_jru_v1
Plugins>Trajectory Tools,"calc c3 wlswitch freq jru v1",calc_c3_wlswitch_freq_jru_v1
Plugins>Trajectory Tools,"copy errors jru v1",copy_errors_jru_v1
Plugins>Trajectory Tools,"copy as emf jru v1",copy_as_emf_jru_v1
Plugins>Trajectory Tools,"copy as eps jru v1",copy_as_eps_jru_v1
Plugins>Trajectory Tools,"copy as pdf jru v1",copy_as_pdf_jru_v1
Plugins>Trajectory Tools,"copy as svg jru v1",copy_as_svg_jru_v1
Plugins>Trajectory Tools,"edit plot colors jru v1",edit_plot_colors_jru_v1
Plugins>Trajectory Tools,"edit plot sizes jru v1",edit_plot_sizes_jru_v1
Plugins>Trajectory Tools,"export EMF jru v1",export_EMF_jru_v1
Plugins>Trajectory Tools,"fit gaussian jru v1",fit_gaussian_jru_v1
Plugins>Trajectory Tools,"fit multi gaussian jru v3",fit_multi_gaussian_jru_v3
Plugins>Trajectory Tools,"get KISS spectra jru v1",get_KISS_spectra_jru_v1
Plugins>Trajectory Tools,"histogram traj jru v1",histogram_traj_jru_v1
Plugins>Trajectory Tools,"histogram2D traj jru v1",histogram2D_traj_jru_v1
Plugins>Trajectory Tools,"import confocor3 trajectory jru v1",import_confocor3_trajectory_jru_v1
Plugins>Trajectory Tools,"import c3 wlswitch trajectory jru v1",import_c3_wlswitch_trajectory_jru_v1
Plugins>Trajectory Tools,"import iss trajectory jru v1",import_iss_trajectory_jru_v1
Plugins>Trajectory Tools,"import pt2 trajectory jru v1",import_pt2_trajectory_jru_v1
Plugins>Trajectory Tools,"PlotWindow Extensions jru v1",PlotWindow Extensions_jru_v1
Plugins>Trajectory Tools,"resample plot jru v1",resample_plot_jru_v1
Plugins>Trajectory Tools,"traj fft 2corr jru v1",traj_fft_2corr_jru_v1
Plugins>Trajectory Tools,"traj math jru v1",traj_math_jru_v1